# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual Environment
# =========================
venv/
.env/
.venv/

# =========================
# ML Models / Artifacts
# =========================
*.pkl
*.joblib

# =========================
# Data files (keep only if needed)
# =========================
*.csv
*.xlsx

# =========================
# Jupyter / Experiments
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log